#border {
  background-color: lightgrey;
  width: 1200px;
  border: 15px solid whitesmoke;
  padding: 50px;
  margin: 20px;
  text-align: left;
}

body {
  background: lighblue !important;
}
    
    
